<div class="header">
  <h1>Weather app headeris</h1>
  <ul class="navigation">
    <li class="navigation__item"><a href="/" class="navlink">Main</a></li>
    <li class="navigation__item"><a href="/about" class="navlink">About</a></li>
    <li class="navigation__item"><a href="/help" class="navlink">Help</a></li>
  </ul>
</div>